<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add  key="HelpCommand" value="命令模式.HelpCommand,命令模式" />
    <add  key="MiniCommand" value="命令模式.MinimizeCommand,命令模式" />
  </appSettings>
</configuration>